<input appOverlayTrigger
  #trigger="overlayTrigger"
  type="text"
  value="Cilck Me">

<app-overlay #overlay
  [trigger]="trigger"
  [minWidth]="'180px'"
  [minHeight]="'250px'">
  <div style="height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <pre>{{trigger.elementRef.nativeElement.value}}</pre>
    <button (click)="overlay.setFullscreen(true)">Fullscreen</button>
    <button (click)="overlay.setFullscreen(false)">Modal</button>
  </div>
</app-overlay>